
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;;
}

body{
    height: 100vh;
}

.menu__lateral{
    width: 400px;
    height: 100%;
    background-color: #d7d5d5;
    padding: 40px 0 40px 3%;
    box-shadow: 2px 0 0 gray;

    position: fixed;
    top: 0;
    left: 0;
    overflow: hidden;
    transition: 0.5s;
}

 .menu__lateral .expandir{
    width: 400px;
    transition: 0.5s;
}

.btn__expandir{
    width: 100%;
    padding-left: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding-right: 40px;
}

.btn__expandir > i {
    color: #5b5be8;
    font-size: 34px;
    cursor: pointer;
    padding-left: 300px;
    padding-bottom: 20px;
}

.btn__expandir > a{
    color: #2929c2;
    font-size: 30px;
    text-decoration: none;
    margin-top: 10px;
}

.btn__expandir .logo > img{
    width: 130px;
}

ul{
    list-style-type: none;
    margin-top: 30px;
}

ul li.item__menu{
    transition: .2s;
}

ul li.ativo{
    color: red;
}

ul li.item__menu a .txt__link{
    margin-left: 50px;
}

ul li.item__menu .txt__link:hover{
    color: #bb00ff;
}

ul li.item__menu a{
    color: #2929C2;
    text-decoration: none;
    font-size: 20px;
    font-weight: 400;
    padding: 8px 4%;
    display: flex;
}

ul li.item__menu a .icon i{
    font-size: 30px;
    line-height: 20px;
    color: #2929C2;
}
