
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;;
}

body{
    height: 100vh;
}

nav.menu__lateral{
    width: 80px;
    height: 100%;
    background-color: #d7d5d5;
    padding: 40px 0 40px 1.7%;
    box-shadow: 3px 0 0 rgb(59, 23, 158);

    position: fixed;
    top: 0;
    left: 0;
    overflow: hidden;
    transition: 0.5s;
}

.menu__lateral:hover{
    width: 300px;
    transition: 0.5s;
} 

.btn__expandir{
    width: 100%;
    padding-left: 10px; 
}

.btn__expandir > i {
    color: #5b5be8;
    font-size: 34px;
    cursor: pointer;
}

ul{
    height: 100%;
    list-style-type: none;
}

ul li.item__menu .txt__link:hover{
    color: #eb05aa;
    transition: 0.2s;
}

ul li.item__menu a{
    color: #2929C2;
    text-decoration: none;
    font-size: 20px;
    font-weight: 400;
    padding: 10px 1%;
    display: flex;
    line-height: 27px;
}

ul li.item__menu a .txt__link{
    margin-left: 40px;
}

ul li.item__menu a .icon i{
    font-size: 30px;
    color: #2929C2;
    
}

.btn__expandir > a{
    color: #2929c2;
    font-size: 30px;
    text-decoration: none;
    margin-top: 10px;
}

.pic img{
    width: 180px;
    height: 200px;
    margin-top: 50px;
    margin-left: 65px;
}

.logo img{
    width: 70px;
    margin-left: 80px;

}

.logo a{
    font-size: 16px;
    margin-left: 80px;
    color: #2929C2;
}







