
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;

}

a{
    text-decoration: none;
    color: #214199;
}

i{
    font-size: 24px;
}



.container{
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    gap: 30px; 
    margin: 30px;
    height: 94vh;
}

.container .left-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 70px 20px;
    background-color: #a9a9a9;
}

 .container .left-section .logo{
    display: flex;
    flex-direction: column;
    align-items: center;
    
} 

.container .left-section .logo img{
    width: 100px;
    height: 40px;
    object-fit: cover;
    
}

.container .left-section .logo a{
    font-size:25px;
    color: #214199;
    font-weight: 900;
    padding: 40px 0;
       
}


.menu-btn{
    width: 32px;
    height: 32px;
    align-items: center;
    justify-content: center;
    border: none;
    background-color: #a9a9a9;
    border-radius: 6px;
    cursor: pointer;
    /* display: none; */
    
}

.container .left-section .sidebar{
    display: flex;
    flex-direction: column;
    gap: 20px
    
}

.container .left-section .sidebar .item{
    display: flex;
    gap: 20px;
    cursor: pointer;
    
}

.container .left-section .sidebar i{
    color: #214199;
    transition: all 0.3s ease;
    
}

.container .left-section .sidebar a{
    display: flex;
    align-items: center;
    gap: 30px;
    font-size: 16px;
    color: #214199;
    position: relative;
    transition: all 0.3s ease;
    
}

.container .left-section .sidebar .item#active a, 
.container .left-section .sidebar .item#active i{
    color: #214199;
}

.container .left-section .pic img{
    width: 200px;
    height: 28vh;
    
}

main{
    text-align: center;
    border: 2px solid blue;
}

.container2{
    text-align: center;
    border: 2px solid green;
}








